@using CV_Site_MVC.Models
@model CvViewModel

<h1>CV finns här typ. #fuckuni </h1>

@{
	var photoPath = "~/" + Model.Cv.PhotoPath;
}
<div>
	<img src="@photoPath" asp-append-version="true"/>
</div>
<h2>Photopath: @Model.Cv.PhotoPath</h2>
<a asp-controller="CV" asp-action="Image" asp-route-id="@Model.Cv.ID">Ladda upp foto</a>

<h2>Utbildning: @Model.Cv.Utbildning</h2>

<a asp-controller="CV" asp-action="Edit" asp-route-id="@Model.Cv.ID">Ändra uppgifter</a>

<h2>Kompetenser</h2>

<div>
	<table class="table-bordered">
		<thead>
			<tr>
				<td>Kompetens</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var skill in Model.Skills)
			{
					<tr>
						<td>@skill.Name</td>
					</tr>
			}
		</tbody>
	</table>
</div>
<a asp-controller="CV" asp-action="Skill" asp-route-id="@Model.Cv.ID">Ändra uppgifter</a>

<h2>Arbetserfarenhet</h2>

<div>
	<table class="table-bordered">
		<thead>
			<tr>
				<td>Id</td>
				<td>Företag</td>
				<td>Roll</td>
				<td>Startdatum</td>
				<td>Slutdatum</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var work in Model.Works)
			{
				<tr>
					<td>@work.Id</td>
					<td>@work.Name</td>
					<td>@work.Role</td>
					<td>@work.StartDate</td>
					<td>@work.EndDate</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<a asp-controller="CV" asp-action="Work" asp-route-id="@Model.Cv.ID">Ändra uppgifter</a>