@using CV_Site_MVC.Models
@model CvViewModel

<h1>CV finns här typ. #fuckuni </h1>

<h2>Utbildning: @Model.Cv.Utbildning</h2>
<h2>ID: @Model.UserID</h2>

<a asp-controller="CV" asp-action="Edit" asp-route-id="@Model.Cv.ID">Ändra uppgifter</a>

<h2>sambandshoran: @Model.Cv.Work_CV</h2>

<div>
	<table class="table-bordered">
		<thead>
			<tr>
				<td>Id</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var work in Model.Cv.Work_CV)
			{
				<tr>
					<td>@work.WorkID</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<h2>Arbetserfarenhet</h2>

<div>
	<table class="table-bordered">
		<thead>
			<tr>
				<td>Id</td>
				<td>Företag</td>
				<td>Roll</td>
				<td>Startdatum</td>
				<td>Slutdatum</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var work in Model.Works)
			{
				<tr>
					<td>@work.Id</td>
					<td>@work.Name</td>
					<td>@work.Role</td>
					<td>@work.StartDate</td>
					<td>@work.EndDate</td>
				</tr>
			}
		</tbody>
	</table>
</div>