@model List<Work>

<h1>Arbeten</h1>
<div>
	<table class="table-bordered">
		<thead>
			<tr>
				<td>Id</td>
				<td>Företag</td>
				<td>Roll</td>
				<td>Startdatum</td>
				<td>Slutdatum</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var work in Model)
			{
					<tr>
						<td>@work.Id</td>
						<td>@work.Name</td>
						<td>@work.Role</td>
						<td>@work.StartDate</td>
						<td>@work.EndDate</td>
						<td>
							<form asp-controller="CV" asp-action="EditWork" asp-route-id="@work.Id" method="get">
								<input type="submit" value="Ändra" class="submitbutton"/>
							</form>
						</td>
						<td>
							<form asp-controller="CV" asp-action="DeleteWork" asp-route-id="@work.Id" method="post">
								<input type="submit" value="Ta bort" class="submitbutton"/>
							</form>
						</td>
					</tr>
			}
		</tbody>
	</table>
</div>
<a asp-controller="CV" asp-action="AddWork">Lägg till</a>