@using CV_Site_MVC.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@model List<Project>

<h2>Lista av tillgängliga projekt att gå med i</h2>

<div>
	<table class="table-bordered">
		<thead>
			<tr>
				<td>Id</td>
				<td>Projektnamn</td>
				<td>Beskrivning</td>
				<td>Startdatum</td>
				<td>Slutdatum</td>
				<td>Projektledare</td>
				<td>Personer i projekt</td>
				
			</tr>
		</thead>
		<tbody>
			@foreach (var project in Model)
			{
				<tr>
					<td>@project.Id</td>
					<td>@project.ProjectName</td>
					<td>@project.Description</td>
					<td>@project.StartDate</td>
					<td>@project.EndDate</td>
					<td>@project.User.UserName</td>
					<td></td>
					@if (signInManager.IsSignedIn(User))
					{
					<td>
					   <input type="submit" value="Gå med" class="submitbutton"/>
					</td>
					}

				</tr>
			}
		</tbody>
	</table>
</div>
