@model List<Message>

<h2 class="text-center">Meddelanden</h2>

<div class="text-center">
    <div>
        <table class="table">
            <tr>
                <th>Avsändare</th>
                <th>Datum</th>
                <th>Innehåll</th>
                <th>Läst</th>
            </tr>
            @foreach(var item in Model)
            {

                <tr>
                    <td>@item.SentTo</td>
                    <td>@item.Date</td>
                    <td>@item.Text</td>
                    <td>
                        @if(item.Read == false)
                        {
                            <form asp-controller="Message" asp-action="messageRead" asp-route-id="@item.Id">
                                <button type="submit">Markera som läst</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Message" asp-action="messageRead" asp-route-id="@item.Id">
                                <button type="submit">Markera som oläst</button>
                            </form>
                        }


                    </td>
                </tr>
            }
           
        </table>


    </div>

</div>