

@model List<Project>

	<div>
		<h3>Projekt</h3>
		<table class="table-bordered">
	<thead>
		<tr>
			<td>Id</td>
			<td>Project name</td>
			<td>Description</td>
			<td>Start date</td>
		</tr>
	</thead>
	<tbody>
			@foreach (var prod in Model)
			{
				<tr>
					<td>@prod.Id</td>
					<td>@prod.ProjectName</td>
					<td>@prod.Description</td>
					<td>@prod.StartDate</td>
				</tr>
			}
	</tbody>
</table>
	</div>
	<div>
		<h3>CV</h3>
	</div>

	<AuthorizeView>
		<Authorized>
			<h2> You are logged in as @User.Identity.Name</h2>
			<a asp-controller="Account" asp-action="LogOut" class="btn-link">Log out</a>
		</Authorized>
	</AuthorizeView>

@*@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@