@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using CV_Site_MVC.Models
@model IndexViewModel


<div class="container">
	@if (Model.listOfCV.Count() > 0)
	{
		@if (User.Identity.IsAuthenticated)
		{
			
				<div class="row pb-3">
					<div class="col-lg-8">
						<h3 class="text-brand">CV</h3>
					</div>
			</div>			
				<div class="row">
					
					@{var ran = new Random();}
					@foreach (CV cV in Model.listOfCV.OrderBy(x => ran.Next()).Take(3))
					{
						<div class="col-md-3">
						<div class="CV p-4 bg-light rounded shadow p-3 mb-5 bg-white rounded">
							<h4>CV</h4>
							<h6 class="text-dark font-weight-bold">Användarnamn:</h6>
							<h6>@cV.User.UserName</h6>
							<a class="text-dark" asp-controller="CV" asp-action="CV" asp-route-id="@cV.UserID">Till CV</a>
						</div>
						</div>
					}
				</div>
			
		}
		else
		{
			<div class="row pb-3">
				<div class="col-lg-8">
					<h3 class="text-brand">CV</h3>
				</div>
			</div>
			<div class="row">

				@{
					var ran = new Random();
				}
				@foreach (var user in Model.PrivateCVUser.OrderBy(x => ran.Next()).Take(3))
				{
					<div class="col-md-3">
						<div class="CV p-4 bg-light rounded shadow p-3 mb-5 bg-white rounded">
							<h4>CV</h4>
							<h6 class="text-dark font-weight-bold">Användarnamn:</h6>
							<h6>@user.UserName</h6>
							<a class="text-dark" asp-controller="CV" asp-action="CV" asp-route-id="@user.Id">Till CV</a>
						</div>
					</div>
				}
			</div>
		}
	}
</div>

<div class="container">
@if (Model.lastProject != null)
{
		<div class="row pb-4">
			<div class="col-lg-8">
				<h3>Projekt</h3>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-6 offset-md-2">
				<div class="p-4 bg-light rounded shadow p-3 mb-5 bg-white rounded">
					<h2>@Model.lastProject.ProjectName</h2>
					<p><span class="font-weight-bolder">Beskrivning:</span><br> @Model.lastProject.Description</p>
					<p><span class="font-weight-bolder">Startdatum:</span><br> @Model.lastProject.StartDate</p>
					<p><span class="font-weight-bolder">Slutdatum:</span><br> @Model.lastProject.EndDate</p>
					<p><span class="font-weight-bolder">Projektledare:</span><br> @Model.lastProject.User.UserName</p>
					@if (User.Identity.IsAuthenticated)
					{
						<p><span class="font-weight-bolder">Användare med i projektet:</span><br>
							@foreach (var users in Model.UserInProjects.Where(x => x.ProjektID == Model.lastProject.Id))
							{
								@users.User.UserName
							<br>
							}
						</p>

					}
					else
					{
						<p><span class="font-weight-bolder">Användare med i projektet:</span><br>
						@foreach (var users in Model.UsersWithPrivateCV.Where(x => x.ProjektID == Model.lastProject.Id))
						{
							@users.User.UserName
							<br>
						}
						</p>
					}
					@if (User.Identity.IsAuthenticated)
					{
						@if (Model.UserInProjects.Where(x => x.User.UserName.Equals(User.Identity.Name) && x.ProjektID == Model.lastProject.Id).FirstOrDefault() == null)
						{
								<form method="post" asp-controller="Home" asp-action="JoinProject" asp-route-projId="@Model.lastProject.Id">
									<button type="submit">Gå med</button>
								</form>
						}
						else
						{
								<form method="post" asp-controller="Home" asp-action="RemoveProject" asp-route-projId="@Model.lastProject.Id">
									<button type="submit">Gå ur</button>
								</form>
						}
					}
				</div>
			</div>
		</div>
}
</div>

@*@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@