@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using CV_Site_MVC.Models
@model IndexViewModel

	<div>
		<h3>CV</h3>
		<table class="table-bordered">
	<thead>
		<tr>
			<td>Id</td>
			<td>Utbildning</td>
			@*<td>Description</td>
			<td>Start date</td>*@
		</tr>
	</thead>
	<tbody>
			@foreach (CV cV in Model.listOfCV)
			{
				<tr>
					<td>@cV.ID</td>
					<td>@cV.Utbildning</td>
				@*	<td>@prod.Description</td>
					<td>@prod.StartDate</td>*@
				</tr>
			}
	</tbody>
</table>
	</div>
<div>
	<h3>Project</h3>
	<table class="table-bordered">
		<thead>
			<tr>
				<td>Id</td>
				<td>Projektnamn</td>
				<td>Beskrivning</td>
				<td>Startdatum</td>
				<td>Slutdatum</td>
				@*<td>Description</td>
				<td>Start date</td>*@
			</tr>
		</thead>
		<tbody>
			@foreach (Project project in Model.listOfProjects)
			{
				<tr>
					<td>@project.Id</td>
					<td>@project.ProjectName</td>
					<td>@project.Description</td>
					<td>@project.StartDate</td>
					<td>@project.EndDate</td>
					@*	<td>@prod.Description</td>
				<td>@prod.StartDate</td>*@
				</tr>
			}
		</tbody>
	</table>
</div>




@*@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@