@using System.Security.Claims
@model ProfileViewModel
@{
	ClaimsPrincipal currentUser = this.User;
	string id = currentUser.FindFirst(ClaimTypes.NameIdentifier).Value;
}
<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-3">
			<div class="align-content-md-center">
			<h1>Välkommen @User.Identity.Name</h1>
			</div>
		</div>
	</div>
</div>


<div>
	<a class="text-dark" asp-controller="Account" asp-action="ChangePassword">Ändra ditt lösenord</a>
</div>
<div>
	<a class="text-dark" asp-controller="CV" asp-action="CV" asp-route-id="@id">Gå till ditt CV</a>
</div>
<div>
	<a class="text-dark" asp-controller="Project" asp-action="Project">Starta ett projekt</a>
</div>
<div>
	
	@if (Model.ProjectList.Count() > 0)
	{
		<h5>Projekt du skapat</h5>
		<table class="table-bordered">
			<thead>
				<tr class="font-weight-bold">
					<td>Projektnamn</td>
					<td>Beskrivning</td>
					<td>Startdatum</td>
					<td>Slutdatum</td>
					<td>Projektledare</td>
					<td>Personer i projekt</td>

				</tr>
			</thead>
			<tbody>
				@foreach (var project in Model.ProjectList)
				{
					<tr>
						<td>@project.ProjectName</td>
						<td>@project.Description</td>
						<td>@project.StartDate</td>
						<td>@project.EndDate</td>
						<td>@project.User.UserName</td>
						<td>
							@foreach (var users in Model.UserInProjects.Where(x => x.ProjektID == project.Id))
							{
								@users.User.UserName
							}
						</td>
						<td>
							<a asp-controller="Project" asp-action="UpdateProject" asp-route-projId ="@project.Id">Uppdatera</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>

<div>
	@if (Model.ProjectsInvolved.Count() > 0)
	{
		<h5>Projekt du är med i</h5>
		<table class="table-bordered">
			<thead>
				<tr class="font-weight-bold">
					<td>Projektnamn</td>
					<td>Beskrivning</td>
					<td>Startdatum</td>
					<td>Slutdatum</td>
					<td>Projektledare</td>
					<td>Personer i projekt</td>
				</tr>
			</thead>
		
		<tbody>
				@foreach (var project in Model.ProjectsInvolved)
				{
					<tr>
						<td>@project.project.ProjectName</td>
						<td>@project.project.Description</td>
						<td>@project.project.StartDate</td>
						<td>@project.project.EndDate</td>
						<td>@project.project.User.UserName</td>
						<td>
							@foreach (var users in Model.UserInProjects.Where(x => x.ProjektID == project.project.Id))
							{
								@users.User.UserName
							}
						</td>
					</tr>
				}
		</tbody>
		</table>
	}
</div>

