@model IEnumerable<CV_Site_MVC.Models.CV>

@{
    ViewBag.Title = "Index";
}
<div style="font-family:Arial">
    <h2>Sök användare</h2>
    <p>
        @using (@Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <b>Sök:</b>
    @*        @Html.RadioButton("searchBy", "UserName", true) <text>Name</text>
           @Html.RadioButton("searchBy", "Gender") <text>Gender</text>*@

            <br />
            @Html.TextBox("search") <input type="submit" value="Sök" />
        }
    </p>
    <table class="table-bordered">
        <thead>
                <tr class="font-weight-bold">
                    <td>Förnamn</td>
					<td>Efternamn</td>
					<td>Email</td>
					<td>Telefonnummer</td>
					<td>Gå till CV</td>
				</tr>
			</thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    No records match search criteria
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td><a asp-controller="CV" asp-action="CV" asp-route-id="@item.UserID">Till CV</a></td>
                   
                </tr>
            }
        }
    </table>
</div>


